
@font-face {
    font-family: inter;
    src: url(Inter-Regular.ttf);
  }

  @font-face {
    font-family: inter;
    src: url(Inter-Medium.ttf);
    font-weight:100;
  }
  
  @font-face {
    font-family: inter;
    src: url(Inter-SemiBold.ttf);
    font-weight:bold;
  }


.navbar {
    background:white;
    font-family:inter;
    margin-left:10%;
    margin-right:20%;
    margin-top:2%;
}

.nav-link {
    color:black;
}

.nav-item {
    color:black;
    font-size:18px;
    padding-left:5%;
}

#about:hover {
    color:black;
    text-decoration: underline;
    text-decoration-color: #00bdfd;
    text-decoration-thickness: 2px;
}

#work:hover {
    color:black;
    text-decoration: underline;
    text-decoration-color: #81ff42;
    text-decoration-thickness: 2px;
}
 
.navbar-brand {
    color:black;
    font-size:25px;
    font-weight:100;
}

.description {
    /* display:inline-block; */
	margin-left:11%;
	position: absolute;
	top: 20%;
	font-size:25px;
    text-align:left;
}

.description h1 {
	color: black;
    float:left;
    font-size:30px;
}

.description h3 {
    font-size:20px;
}

.description p {
	color:black;
	font-size: 17px;
}

#main {
    width:78%;
    background-color: #ffe800;
    height:0.5px;
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.recent {
	margin-left:10%;
	position: absolute;
	top: 50%;
	font-size:25px;
	text-align: left;
}
.recent h1 {
	color: black;
    float:left;
    font-size:25px;
    margin-left:1%;
}

.container {
    margin-left:-1%;
}

.col img{
    border: 1px black solid;
}

/* .col img:hover {
    border:2px #00bdfd solid;
} */

.row {
    display:flex;
    flex:1;
    margin-right:0;
}

.recent img {
    width:70%;
}

#nooz img:hover {
    border: 2px solid #ff8455;
}

#coz img:hover {
    border: 2px solid #81ff42;
}

#dfa img:hover {
    border: 2px solid #00bdfd;
}

ol {
    font-size: 18px;
}

.recent h2 {
    font-size:20px;
    margin-top:4%;
}

p {
    font-size:18px;
}

.footer {
    float:left;
    font-size:18px;
    margin-top:5%;
    padding-bottom:2%;
    width:115%;
    margin-left:-15%;
    padding-top:2%;
}

.footer a {
    color:black;
}

.footer a:hover {
    color:black;
}

a {
    color:black;
}

a:hover {
    color:black;
}

#email:hover {
    text-decoration: underline;
    text-decoration-color:#00bdfd;
}

#linkedin:hover {
    text-decoration: underline;
    text-decoration-color:#81ff42;
}

#resume:hover {
    text-decoration: underline;
    text-decoration-color:#ff8455
}

.pfp {
    margin-top:10%;
    width:15%;
    border:1px solid black;
}

#bio {
    margin-left:25%;
    margin-top:-14%;
    width:40%;
    font-size: 20px;
}

#bio p{
    font-size: 18px;
}

#aboutcontent {
    margin-left:11%;
}

.title {
    float:left;
    font-weight:bold;
}

/* COZ */

#cozimg {
    width:30%;
    float:left;
    margin-left:9%;
}

#cozwrite {
    width:40%;
    float:left;
    margin-left:-3%;
}

/* DFA */

#research {
    font-size:18px;
    border:1px black solid;
    width:76%;
    padding:2%;
    margin-left:1%;
}

#slim {
    display:flex;
    font-size:18px;
    width:80%;
}

#slimjim {
    float:left;
    display: flex;
    flex:15;
    margin-right:3%;
    border:1px solid black; 
    padding:2%
}

#slimjim img {
    width:10%;
    height:30%;
    margin-right:5%;
}

#number {
    display: flex;
    flex:1;
    /* color:#ff8455;
    border-radius:25px;
    border:2px #ff8455 solid;
    width:30%; */
}

#carousel {
    float:right;
    margin-right:50%;
    display:none;

}

.carousel-control-next {
    left:350px;
}
/* 
a {
    color:#00bdfd;
} */

footer .ms-3 {
    margin-right:2%;
}

footer ul {
    margin-right:15vw;
}

#research li {
    margin-left:5%;
}

footer .foot {
    margin-left:14vw;
}

.footer {
    font-size:16px;
    float:left;
}

.workfooter {
    width:100%
}

.logo:hover {
    text-decoration:underline;
    text-decoration-color: #ff8455;
    color:black;
}